{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block body %}
<div id="log">
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="row ">
        <div class="col s10 offset-s1 z-depth-5 row_login">
            <form action="{{ path("fos_user_security_check") }}" method="post">


                {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                    <div class="col s6 offset-s3 logo">
                        <img class="z-depth-3" src="https://lh3.ggpht.com/WCsIMBqitM9DKo5FLUbInSIAp67MQf9zVlfV9YSGFtEheB1M3_tU5LLvYFwnJgb-odqd=w170">
                    </div>
                    <div class="col s8 offset-s2 username">
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                    </div>
                    <div class="col s8 offset-s2 password">
                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" id="password" name="_password" required="required" />
                    </div>
                    <div class="col s8 offset-s2 checkbox">
                        <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                        <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
                    </div>
                    <div class="col s12 submit">
                        <label>
                            <input type="submit" style="display: none" class="btn" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                                <i class="fa fa-check fa-4x" aria-hidden="true"></i>
                            <span class="sr-only">Loading...</span>
                        </label>
                    </div>
            </form>
            <div class="col s12 subscribe">
                <a href="{{ path('insead_rules') }}" ><button class="button btn">Subscribe</button></a>
            </div>
        </div>
    </div>
</div>
{% endblock %}