{% trans_default_domain 'FOSUserBundle' %}
{% extends 'base.html.twig' %}
{% block body %}
<div id="log">
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
    <div class="row ">
        <div class="col s10 offset-s1 z-depth-5 row_login">
<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}


            <div class="col s6 offset-s3 logo">
                <img class="z-depth-3" src="https://vignette3.wikia.nocookie.net/uncyclopedia/images/4/4c/Striped_apple_logo.png/revision/latest?cb=20090104011038">
            </div>
            <div class="col s6 offset-s3 login">
                <p>Login :</p>
            </div>
            <div class="col s8 offset-s2 username">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>
            <div class="col s8 offset-s2 password">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" name="_password" required="required" />
            </div>
            <div class="col s8 offset-s2 checkbox">
                <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                <label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
            </div>
            <div class="col s8 offset-s2 submit">
                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </div>
</form>
            <div class="col s8 offset-s2">
                <a href="{{ path('insead_rules') }}" ><button class="button btn">Subscribe</button></a>
            </div>


        </div>
    </div>
</div>
{% endblock %}