{% extends '@Insead/user/layout.html.twig' %}


{% block progress %}
<div id="q1">
    <div class="progress">
        <div class="determinate" style="width: 100%"></div>
    </div>
    {% endblock %}
    {% block body %}
        <div class="row body_questions z-depth-3">
            <div class="col s12">
                <h2>{{ question }}</h2>
                {{ form_start(form) }}
                <div class="row">
                    <div class="col s10 offset-s1">
                        <h2>{{ form_widget(form.choices) }}</h2>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}

    {% block footer %}
    <div class="row footerDemo z-depth-3">
        <div class="col s4 offset-s1 center-align">
            <a href="{{ path('insead_rules') }}">
                <button class="btn">Return
                </button>
            </a>
        </div>
        <div class="col s4 offset-s1 center-align">
            {{ form_widget(form) }}
            <button class="btn pulse" type="submit" value="Next">Next</button>
        </div>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

{% endblock %}