{% extends '@Insead/user/layout.html.twig' %}


{% block progress %}
<div id="q1">
    <div class="progress">
        <div class="determinate" style="width: 100%"></div>
    </div>
    {% endblock %}
    {% block body %}
        <div class="row body_questions">
            <div class="col s12">
                <h2>{{ question }}</h2>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    {{ form_end(form) }}
            </div>
        </div>
    {% endblock %}
    
{% block footer %}
    <div class="row footerDemo z-depth-3">
            <div class="col s4 offset-s1 center-align">
                <a href="{{ path('insead_questionDemo4') }}">
                    <button class="btn">Return
                    </button>
                </a>
            </div>
            <div class="col s4 offset-s1 center-align">
                <a href="{{ path('fos_user_registration_register') }}">
                    <button class="btn pulse">Next
                    </button>
                </a>
            </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>

{% endblock %}